# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# Model files
*.keras
*.h5
*.pkl

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
